[submodule "nand2tetris/ch06/cl-hackasm"]
	path = books/nand2tetris/ch06/cl-hackasm/cl-hackasm
	url = https://github.com/luksamuk/cl-hackasm
	branch = master
[submodule "nand2tetris/ch08/cl-hackvmtr"]
	path = books/nand2tetris/ch08/cl-hackvmtr/cl-hackvmtr
	url = https://github.com/luksamuk/cl-hackvmtr
[submodule "books/sicp"]
	path = books/sicp
	url = https://github.com/luksamuk/sicp.git
[submodule "books/land-of-lisp"]
	path = books/land-of-lisp
	url = https://github.com/luksamuk/LandOfLisp.git
[submodule "books/nand2tetris/ch10/cl-jackc"]
	path = books/nand2tetris/ch10/cl-jackc
	url = https://github.com/luksamuk/cl-jackc
