[submodule "nand2tetris/ch06/cl-hackasm"]
	path = books/nand2tetris/ch06/cl-hackasm/cl-hackasm
	url = https://github.com/luksamuk/cl-hackasm
	branch = master
[submodule "nand2tetris/ch08/cl-hackvmtr"]
	path = books/nand2tetris/ch08/cl-hackvmtr/cl-hackvmtr
	url = https://github.com/luksamuk/cl-hackvmtr
[submodule "books/sicp"]
	path = books/sicp
	url = https://github.com/luksamuk/sicp.git
[submodule "books/land-of-lisp"]
	path = books/land-of-lisp
	url = https://github.com/luksamuk/LandOfLisp.git
[submodule "books/nand2tetris/ch10/cl-jackc"]
	path = books/nand2tetris/ch10/cl-jackc
	url = https://github.com/luksamuk/cl-jackc
[submodule "SI/2020-5/POO/projeto-final"]
	path = SI/2020-5/POO/projeto-final
	url = https://github.com/luksamuk/projeto-POO-2020-5
[submodule "books/xchgraxrax"]
	path = books/xchgraxrax
	url = https://github.com/luksamuk/xchgraxrax
[submodule "courses/psx-programming/dev/thirdparty/nugget"]
	path = courses/psx-programming/dev/thirdparty/nugget
	url = https://github.com/pcsx-redux/nugget
[submodule "courses/psx-programming/c/hellogpu/third_party/nugget"]
	path = courses/psx-programming/c/hellogpu/third_party/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "courses/psx-programming/c/hellogpu/third_party/psyq-iwyu"]
	path = courses/psx-programming/c/hellogpu/third_party/psyq-iwyu
	url = https://github.com/johnbaumann/psyq_include_what_you_use.git
[submodule "courses/psx-programming/c/hellogte/third_party/nugget"]
	path = courses/psx-programming/c/hellogte/third_party/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "courses/psx-programming/c/hellogte/third_party/psyq-iwyu"]
	path = courses/psx-programming/c/hellogte/third_party/psyq-iwyu
	url = https://github.com/johnbaumann/psyq_include_what_you_use.git
[submodule "courses/psx-programming/c/hellojoypad/third_party/nugget"]
	path = courses/psx-programming/c/hellojoypad/third_party/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "courses/psx-programming/c/hellojoypad/third_party/psyq-iwyu"]
	path = courses/psx-programming/c/hellojoypad/third_party/psyq-iwyu
	url = https://github.com/johnbaumann/psyq_include_what_you_use.git
[submodule "courses/psx-programming/c/hellocd/third_party/psyq-iwyu"]
	path = courses/psx-programming/c/hellocd/third_party/psyq-iwyu
	url = https://github.com/johnbaumann/psyq_include_what_you_use.git
[submodule "courses/psx-programming/c/hellocd/third_party/nugget"]
	path = courses/psx-programming/c/hellocd/third_party/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "courses/psx-programming/c/hellotexture/third_party/nugget"]
	path = courses/psx-programming/c/hellotexture/third_party/nugget
	url = https://github.com/pcsx-redux/nugget.git
[submodule "courses/psx-programming/c/hellotexture/third_party/psyq-iwyu"]
	path = courses/psx-programming/c/hellotexture/third_party/psyq-iwyu
	url = https://github.com/johnbaumann/psyq_include_what_you_use.git
